<h2>Gêneros cadastrados</h2>

<% if flash[:notice] %>
  <div>
    <h3><%= flash[:notice] %></h3>
  </div>
<% end %>

<% @genres.each do |genre| %>
  <div>
      <%= genre.name %> | 
      <%= link_to 'Detalhes', genre_path(genre.id) %> | 
      <%= link_to 'Editar', edit_genre_path(genre.id) %>
  </div>
<% end %>

<div class="new">
  <%= link_to 'Cadastrar novo gênero', new_genre_path %>
</div>
<div class="home">
  <%= link_to 'Home', root_path %>
</div>