<% if flash[:notice] %>
  <div>
    <h3><%= flash[:notice] %></h3>
  </div>
<% end %>

<div>
  <h2>Filmes do gênero <%= @genre.name %></h2>
</div>

<% if @movies.empty? %>
  <p>Nenhum filme com este gênero cadastrado</p>
<% else %>
  <ul>
    <% @movies.each do |movie| %>
      <li><%= movie.title %></li>
    <% end %>
  </ul>
<% end %>

<div class="edit">
  <%= link_to 'Editar gênero', edit_genre_path(@genre.id) %>
</div>

<div class="back">
  <%= link_to 'Voltar para Gêneros', genres_path %>
</div>